* {
	box-sizing: border-box;
}

body {
	background: skyblue;
	background: linear-gradient( skyblue, blue );
	height: 100em;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.flower,
.sun {
	position: absolute;
	right: 20px;
	top: 50px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background: yellow;
	border: 50px dotted #ff6633;
	box-sizing: content-box;
	box-shadow: 0 0 1000px white, inset 0 0 50px rgba( 250, 100, 0, 0.3 );
}

.sun.spin {
	transform: rotate( 360deg );
	transition: height .5s ease-in-out,
	            width .5s ease-in-out,
	            all 1s ease-in-out;
}

.grass {
	height: 20%;
	width: 100%;
	background: darkgreen;
	background: linear-gradient( darkgreen, green );
	border-top: 1px solid darkgreen;
	box-shadow: 0 0 5px darkgreen;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.stem {
	position: absolute;
	left: 50%;
	margin-left: -7.5px;
	background: lime;
	background: linear-gradient( to left, lime, limegreen );
	border: 1px solid darkgreen;
	border-bottom: none;
	bottom: 10%;
	width: 15px;
	height: 20px;
	transition: height 4.741s ease-in-out;
}

.stem.alive,
.stem:active,
.stem:hover {
	height: 200px;
}

.flower {
	border-color: white;
	border-width: 15px;
	box-shadow: 0 0 1px black, inset 0 0 10px rgba( 0, 0, 0, 0.3 );
	top: -30px;
	left: -25px;
	height: 30px;
	width: 30px;
	background-color: deeppink;
	transition: height 3.4s ease-in-out,
	            width 3.4s ease-in-out,
	            left 3.4s ease-in-out,
	            border-width 3.4s ease-in-out,
	            top 3.4s ease-in-out,
	            background-color .5s ease-in-out,
	            -webkit-transform 3.4s ease-in-out;
}

.alive .flower,
.stem:hover .flower,
.stem:active .flower {
	height: 60px;
	width: 60px;
	left: -55px;
	top: -60px;
	border-width: 30px;
	transition: height 2s 2.4s ease-in-out,
	            width 2s 2.4s ease-in-out,
	            left 2s 2.4s ease-in-out,
	            border-width 2s 2.4s ease-in-out,
	            top 2s 2.4s ease-in-out,
	            background-color .5s ease-in-out,
	            -webkit-transform 2s 2.4s ease-in-out;
}

#first {
	margin-left: -75px;
	margin-bottom: -20px;
}

#third {
	margin-left: 100px;
	margin-bottom: -10px;
}
